<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alphadev.usbstorage">

    <uses-sdk android:minSdkVersion="19" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <provider
            android:name=".saf.DocumentProviderImpl"
            android:authorities="net.alphadev.usbstorage.documents"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">

            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
